* {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background-color: #000;
  color: #fff;
}

a {
  color: #999;
}

header {
  background-color: darkblue;
  padding: 1rem;
}

span {
  font-size: 18pt;
  width: 25%;
  float: left;
}

nav {
  text-align: right;
  width: 75%;
  float: right;
}

header nav a {
  padding: 8px;
}

header::after {
  content: '';
  display: block;
  clear: both;
}

.principal {
  clear: both;
}
